<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<meta charset="ISO-8859-1">
<title>List of Books</title>
</head>
<body>
<h5>Welcome, <span th:text="${username}">Welcome guest!</span></h5>

<h2>List of Books</h2>
	
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add New</button>

<form th:action="@{/search}" method="get">
	<input type="text" name="keyword" th:value="${keyword}" placeholder="Find by title or author" size="50">
	<button type="submit" class="btn btn-info">Search</button>
	<button type="submit" class="btn btn-info">Reset</button>
</form>

<table class="table table-stripped">
<thead>
<tr>
<td>Title</td>
<td>Author</td>
<td>Year</td>
<td>Genre</td>
<td>Edit</td>
<td>Delete</td>
</tr>
</thead>
<tr th:each="book:${books}">
<td th:text="${book.title}">Title</td>
<td th:text="${book.author}">Author</td>
<td th:text="${book.year}">Year</td>
<td th:text="${book.genre}">Genre</td>
<td><a th:href="@{/books/getOne/(Id=${book.Id})}" class="btn btn-warning">Edit</a></td>
<td><a th:href="@{/books/delete/(Id=${book.Id})}" class="btn btn-danger" id="deleteButton">Delete</a></td>
</tr>
</table>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <form th:action="@{/books/addNew}" method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="recipient-name" name="id">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="recipient-name" name="title">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Author:</label>
            <input type="text" class="form-control" id="recipient-name" name="author">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year:</label>
            <input type="text" class="form-control" id="recipient-name" name="year">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Genre:</label>
            <input type="text" class="form-control" id="recipient-name" name="genre">
          </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
 </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
 <form th:action="@{/books/update}" method="put">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="id">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="titleEdit" name="title">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Author:</label>
            <input type="text" class="form-control" id="authorEdit" name="author">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Year:</label>
            <input type="text" class="form-control" id="yearEdit" name="year">
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Genre:</label>
            <input type="text" class="form-control" id="genreEdit" name="genre">
          </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
 </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <a href="" class="btn btn-primary" id="delRef">Yes, delete...</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>