<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Books Management System</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/CSS/style.css" />
<script src="main.js"></script>
</head>
<body>

	<div id="navbar">
		  <a th:href="@{/}">Home</a>
		  <a th:href="@{/booksSearch}">Search</a>
	</div>
	
	<div class="container">
		<h1>Books Management System</h1>
		<hr>

		<form action="#" th:action="@{/saveBooks}" th:object="${books}"
			method="POST">
			<input type="text" th:field="*{title}" placeholder="Book Title" class="form-control mb-4 col-4" required>
				
			<input type="text" th:field="*{author}" placeholder="Book Author" class="form-control mb-4 col-4" required>
			
			<input type="text" th:field="*{year}" placeholder="Release Year" class="form-control mb-4 col-4">
			
			<select name="genre" id="genre" th:field="*{genre}">
				<option value="">Select a Genre</option>
				<option value="Fiction">Fiction</option>
				<option value="Non-Fiction">Non-Fiction</option>
			</select>
				
			<hr>
			<button type="submit" class="btn btn-info col-2"> Save Books</button>
					
			<br>	
			<a id="files" th:href = "@{/files}">Add File</a>
		</form>
		<hr>
		
		<a th:href = "@{/}"> Back to Book List</a>
	</div>
</body>
</html>